$color-accent: #BF0830;
$color-back: #E5E5E5;
$color-main-text: #484C63;;
$color-shadow: #8F90A6;

body{
    background: $color-back;
    font-family: 'Europe Normal', arial;
    font-style: normal;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 137px;
        height: 37px;
        padding: 40px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .links{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .link__title{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #646A89;
    padding-right: 60px;
    }
    .sign{
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    width: 149px;
    height: 52px;
    background: $color-accent;
    border-radius: 6px;

    font-size: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    transition: 200ms;
    &:hover{
        transition: 200ms;
        border: 1px solid $color-accent;
        background-color: $color-back;
        color: $color-accent;
        }
    }
}

.cards{
    display: flex;
    flex-direction: row;
}

.card{
    width: 1/2 * 100%;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 8px;
    margin: 30px;
    .card__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .card__title__text{
            margin-left: 10px;
            font-size: 28px;
            display: flex;
            align-items: center;
            color: $color-main-text;
        }
    }
    .main__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $color-main-text;
    padding: 40px;
    }
}

.second__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: auto;
    padding: 40px;
    border-radius: 8px;
    margin: 30px;
    .left{
        margin-left: 30px;
        .second__card__title{
            font-weight: 400;
            font-size: 28px;
            line-height: 27px;
            color: $color-main-text
        }
        .second__card__column{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 24px;
            .second__card__description{
                font-weight: 400;
                font-size: 20px;
                line-height: 27px;
                color: $color-shadow;
                padding-left: 6px;
                padding-right: 28px;
            }
        }
    }
    .details{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 14px 32px;
        width: 150px;
        height: 52px;
        border: 1px solid $color-accent;
        background-color: white;
        border-radius: 6px;

        font-size: 15px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: $color-accent;
        transition: 200ms;
        &:hover{
            transition: 200ms;
            background-color: $color-accent;
            color:white;
            }
        }
}

@mixin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 32px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #E3E7F6;
    border-radius: 6px;
    margin-top: 6px;
}

.form{
    width: auto;
    height: auto;
    padding: 48px;
    display: flex;
    border-radius: 8px;
    margin: 30px;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    .form__text{
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: $color-shadow;
        margin-top: 30px;
    }
    .form__name{
        @include form;
    }
    .form__email{
        @include form;
    }
    .form__subject{
        @include form;
    }
    .form__message{
        @include form;
        height: 148px;
    }
    .form__send{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 99px;
        height: 52px;
        background: $color-accent;
        border-radius: 6px;
        border: 0px;
        margin-top: 30px;

        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;
        color: #FFFFFF;
        transition: 200ms;
        &:hover{
            transition: 200ms;
            border: 1px solid $color-accent;
            background-color: white;
            color: $color-accent;
        }
    }
}

.footer{
    background-color: #0D123C;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 38px;
    .footer__text{
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .footer__head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
        .footer__left{
            width: 300px;
            .footer__logo{
                margin-bottom: 30px;
            }
        }
        .footer__right{
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            .footer__link{
                text-decoration: none;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                margin-right: 15px;
            }
            .footer_ul{
                font-size: 18px;
                line-height: 50px;
                color: #FFFFFF;
                margin-left: 80px;
            }
            .footer__ul__title{
                font-size: 20px;
                line-height: 21.09px;
                margin-bottom: 20px;
            }
        }
    }
    .footer__hr{
        width: 100%;
        border: 1px solid rgba(197, 203, 226, 0.5);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer__bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 7%;
        margin-right: 7%;
    }
}